# Dependencies
node_modules/
.pnpm-store/

# Production build output
frontend/dist/
backend/uploads/*
!backend/uploads/.gitkeep

# Environment variables
.env
.env.local
.env.production
.env.development

# Logs & OS artifacts
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
